@media (max-width: 1400px) {
  .header {
    width: 94%;
    padding: 0 32px;
  }

  .main {
    width: 94%;
  }
}

@media (max-width: 1200px) {
  .header .navigation {
    margin-left: 0;
  }

  .header .navigation {
    margin-left: 0;
  }

  .navigationList .navigationList-item:not(:last-child) {
    margin-right: 25px;
  }

  .header .header-menu .header-menuButton:first-child {
    margin-left: 0;
  }

  .mainTitle {
    font-size: 79px;
  }

  .footer .links .links-item {
    margin-right: 25px;
  }
}

@media (max-width: 992px) {
  .wrapper::after {
    right: -300px;
    bottom: 0;
    width: 500px;
    height: 500px;
  }

  .wrapper::before {
    top: 150px;
    left: -50%;
  }

  .burgerMenuWrapper {
    display: block;
  }

  .header {
    border: 2px solid var(--primaryColor);
    padding: 0 22px;
    height: 56px;
  }

  .header .navigation {
    display: none;
  }

  .header .header-menu .header-menuButton.lang {
    margin-right: 12px;
    height: 36px;
    width: 36px;
    border-radius: 24px;
    padding: 0;
  }

  .header-menuButton.lang a .langTitle {
    display: none;
  }

  .header .header-menu .header-menuButton.singUp,
  .header .header-menu .header-menuButton.logIn {
    display: none;
  }

  .burgerMenuBtn {
    display: block;
  }

  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 100%;
  }

  .content {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 70px 0 58px 0;
  }

  .content .button {
    margin: 0 auto;
  }

  .section.content,
  .section.blog {
    width: 94%;
  }

  #carousels {
    display: none;
  }

  #smallCarousels {
    display: block;
  }

  .section.blog {
    max-width: 531px;
    margin-bottom: 145px;
    margin-top: 7px;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 6% 30px 6%;
    height: auto;
    border-left: 2px solid var(--primaryColor);
    border-right: 2px solid var(--primaryColor);
    border-top: 2px solid var(--primaryColor);
    border-radius: 50px 50px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    font-size: 14px;
  }

  .footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }

  .footer .links .links-item {
    margin-right: 0;
  }

  .socialMedia {
    text-align: left;
  }

  .socialMedia h3 {
    margin-bottom: 8px;
  }

  .socialMedia .socialMediaList {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .socialMedia-item {
    width: 27px;
    height: 27px;
    margin-left: 0;
    margin-right: 8px;
  }
}

@media (max-width: 767px) {
}
@media (max-width: 576px) {
  .mainTitle {
    font-size: 46px;
    line-height: 109%;
  }

  .qoute {
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    margin: 12px 0 24px 0;
  }

  .content .button {
    width: 100%;
    height: 72px;
  }

  .subTitle {
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 18px;
  }

  .swiper-container#blogBody {
    border: 2px solid var(--primaryColor);
    border-radius: 50px;
    height: 421px;
    padding: 10px 16px 50px 10px;
  }

  #blogWrapper li.swiper-slide.blog-item {
    border-radius: 40px;
    margin-bottom: 10px;
  }

  .blog-item a {
    padding: 15px 35px;
    border-radius: 46px;
  }

  .blogItem-content {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 125%;
  }

  .swiper-scrollbar#blogScroll {
    right: 6px;
    width: 4px;
    height: 301px;
  }
}
